.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    background-color: #f0f0f0;
    width: 220px;
}
.card{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: blue;
}

.card:nth-child(1) { order: 1; }
.card:nth-child(2) { order: 2; }
.card:nth-child(3) { order: 5; }
.card:nth-child(4) { order: 3; }
.card:nth-child(5) { order: 4; }
