table{
    border: 1px solid rgb(10, 176, 176);
    width: 500px;
    border-collapse: collapse;      
}
th, td{
    border: 2px solid rgb(10, 176, 176);
}
th{
    font-size: 17px;
}
td{
    font-size: 17px;
    text-align: center;
    border: 2px 2px;
    margin: 2px 2px;
}
caption{
    color: rgb(243, 243, 44);
    font-size: 35px;
    font-weight: bold;
}
body{
    border: 2px;
}