table:nth-child(even){
    border: 1px solid black;
    width: 500px;
    border-collapse: collapse;
    background-color: gray;    
}
table:nth-child(odd){
    border: 1px solid black;
    width: 500px;
    border-collapse: collapse;
    background-color: white;    
}
th, td{
    text-align: right;
    border: 1px solid black;
}
tr:nth-child(odd){
    background-color: rgb(188, 188, 188);
}
.fgfgf{
   text-align: center;
}