body {
    margin: 0;
    padding: 0;
    background-color: grey
}

.lesson {
    width: 900px;
    margin: 30px auto;
    border: 5px;
    border-radius: 8px;
    background-color: aliceblue;
    padding: 20px;
}

.lesson img {
    display: block;
    margin: 20px auto;
}

form label {
    display: block;
}

form input {
    display: block;
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
}

form button {
    background-color: blue;
    color: white;
    padding: 10px 10px;
    margin-top: 10px;
    cursor: pointer;
   
}
